<%= form_for (@movie) do |f| %>

 <div class="form-group">
   <%= f.label 'Title:' %>
   <%= f.text_field :title, class: 'form-control' %>
</div>

 <div class="form-group">
   <%= f.label 'Director' %>
   <%= f.text_field :director, class: 'form-control' %>
 </div>

 <div class="form-group">
   <%= f.label 'Released:' %>
   <%= f.text_field :year, class: 'form-control' %>
 </div>

 <div class="form-group">
   <%= f.label 'Description:' %>
   <%= f.text_area :description, class: 'form-control' %>
 </div>

 <div class="actions">
   <%= f.submit class: 'btn btn-info' %> or <%= link_to 'back', :back %>
 </div>
<% end %>
